blinker
certifi
charset-normalizer
click
ffmpeg-python
filelock
Flask
fsspec
future
huggingface-hub
idna
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-python-headless
packaging
PyYAML
regex
requests
safetensors
tokenizers
tqdm
transformers
typing_extensions
urllib3
Werkzeug
ultralytics
